<header>
    <h1>{{제목}}</h1>

    <div>
        <a href="/">의약품정보</a>
        <a href="/about">앱정보</a>
        <a href="/help">도움말</a>
        <a href="/auth/login">로그인</a>
        <a href="/auth/join">회원가입</a>
        <a href="/auth/logout">로그아웃</a>
        <a href="/test">테스트</a>
    </div>
</header>